.modal {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  max-height: 330px;
  width: 430px;
}

.modal__container_image_preview {
  display: flex;
  max-width: 75%;
  max-height: 75%;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  top: -45px;
  right: -45px;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__close_image_preview {
  position: relative;
  top: calc(100% + 6px);
  left: calc(100% + 6px);
}

.modal__close_image_preview:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__heading {
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.modal__input {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding-bottom: 13px;
  width: 430px;
}

.modal__label {
  max-width: 430px;
}

.modal__input_type_error {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.modal__button {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  background-color: #000;
  color: #fff;
  height: 50px;
  margin-top: 18px;
  padding: 0;
  border-radius: 2px;
  border: none;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__button_disabled {
  color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__caption {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #fff;
  margin: 10px 0 0 0;
}

.modal__error {
  color: rgba(255, 0, 0, 1);
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  position: relative;
  bottom: 30px;
}

@media screen and (max-width: 630px) {
  .modal {
    padding: 19px;
  }

  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    right: 0px;
  }

  .modal__close_image_preview {
    height: 30px;
    width: 30px;
  }

  .modal__heading {
    font-size: 18px;
  }

  .modal__button {
    margin-top: 15px;
    height: 46px;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .modal__input {
    width: calc(100% - 1px);
  }
}

@media screen and (max-width: 330px) {
  .modal__container_image_preview {
    max-height: 299px;
    max-width: 240px;
  }
}
